{:deps {:aliases [:dev]}
 :builds
 {:clojuredocs {:target     :browser
                :asset-path "/js"
                :output-dir "resources/public/cljs"
                :modules    {:clojuredocs {:entries [clojuredocs.main]}}}}}
